<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="checkin">
     <ion-icon name="calendar"></ion-icon>
      <ion-label>Checkin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drivers-list">
     <ion-icon name="speedometer"></ion-icon>
      <ion-label>Drivers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Register</ion-label>
    </ion-tab-button>

       <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
