<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="checkin">
      <ion-icon name="log-in-outline"></ion-icon>
      <ion-label>Checkin</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="drivers-list">
      <ion-icon name="bus-outline"></ion-icon>
      <ion-label>Drivers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="register">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Register</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
